body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.box {
    width: 320px;
    height: 420px;
    max-width: 500px;
    background: #E1E1E1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.box h1 {
    position: relative;
    bottom: 30%;
    font-size: 30px;
    color: #9BCFF0;
}

.box p{
    position: relative;
    bottom: 30%;
}

.box #btnEnviar {
    width: 40%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 30px;
    background: #318AC2;
    color: #F3F3F3;
    font-size: 16px;
    border-radius: 10px;
    position: relative;
    bottom: 6px;
    left: 30%;
}

.box #btnEnviar[type="submit"]:hover {
    background: rgb(155, 207, 240);
}

#form-control {
    display: contents;
    bottom: 50%;
}

.box .input {
    width: 70%;
    height: 20px;
    font-size: 16px;
}

.box label {
    color: #727373;
}

h3 .correcto {
    display: contents;
    text-align: center;

}
/*
.incorrecto {
    text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}*/